server.port=8081

service.version=v0.0.1-rc.1
service.name=segment-middleware

security.api-key-http-header-name=tobemodified
security.api-key-http-header-value=tobemodified
security.password-hashing.secret=tobemodified
security.password-hashing.iterations=2000
security.password-hashing.hash-width=256
security.password-hashing.salt-width=16
security.password-hashing.memory-costs=2048
security.jwt-generation.secret=tobemodified
security.jwt-generation.duration=54000000

spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://127.0.0.1:3307/segment
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MySQL5Dialect
